In [25]:
import networkx as nx
import random
import pandas as pd

In [2]:
# Get the network from edge file; prints number of eges and nodes in network
f=open("PseudomonasNet.v1.txt",'rb');
G=nx.read_edgelist(f,nodetype=str,data =(('weight',float),));
G.number_of_nodes()
G.number_of_edges()

203118

In [13]:
node_ngbr = {}
for nd in G.nodes():
    ngbrs = G.neighbors(nd)
    ngbrs.append(nd)
    node_ngbr[nd] = set(ngbrs)

In [12]:
allnodes_set = set(G.nodes())

In [16]:
def non_intersections(setA, setB):
    """
    setA: a set, small set
    setB: a set, is a set of all nodes of the network
    returns: a list of 3 randomly picked elements from the set resulting from set operation setB-setA 
    """
    non_ints_full = list(setB-setA)
    random.shuffle(non_ints_full)
    non_ints = non_ints_full[:3]
    return non_ints

In [21]:
node_list = []
non_int_list = []
for nd in G.nodes():
    node_list.extend([nd]*3)
    non_ints = non_intersections(node_ngbr[nd], allnodes_set)
    non_int_list.extend(non_ints)
non_int_data = list(zip(node_list, non_int_list))

In [22]:
len(non_int_data)

16368

In [24]:
print non_int_data[:10]

[('PA1097', 'PA3162'), ('PA1097', 'PA2008'), ('PA1097', 'PA4067'), ('PA1096', 'PA1763'), ('PA1096', 'PA0548'), ('PA1096', 'PA5033'), ('PA1095', 'PA0881'), ('PA1095', 'PA0761'), ('PA1095', 'PA0539'), ('PA1094', 'PA4835')]

In [27]:
df_non_int = pd.DataFrame(non_int_data, columns = ['geneID1', 'geneID2'])
df_non_int.head()

  geneID1 geneID2
0  PA1097  PA3162
1  PA1097  PA2008
2  PA1097  PA4067
3  PA1096  PA1763
4  PA1096  PA0548

In [28]:
df_non_int.shape

(16368, 2)

In [29]:
non_int_label = [0]*16368
df_non_int['interaction'] = non_int_label
df_non_int.head()

  geneID1 geneID2  interaction
0  PA1097  PA3162            0
1  PA1097  PA2008            0
2  PA1097  PA4067            0
3  PA1096  PA1763            0
4  PA1096  PA0548            0

In [30]:
df_non_int.tail()

      geneID1 geneID2  interaction
16363  PA3031  PA0128            0
16364  PA3031  PA4867            0
16365  PA3030  PA2957            0
16366  PA3030  PA3312            0
16367  PA3030  PA0090            0

In [31]:
df_non_int.to_csv('gene_non_int.csv')