In [1]:
import os
import pandas as pd

In [2]:
seq_dir = '/Users/ratisharma/Documents/machine_learning_projects/PA01'
seq_file = 'Pseudomonas_aeruginosa_PAO1_107.txt'
fpath = os.path.join(seq_dir, seq_file)

In [3]:
fseq = open(fpath, 'r')

In [4]:
def find_between( s, first, last ):
    try:
        start = s.index( first ) + len( first )
        end = s.index( last, start )
        return s[start:end]
    except ValueError:
        return ""

In [5]:
genes = []
seq = []
for num,line in enumerate(fseq):
    if num%2==0:
        g = find_between(line, '>', ' ')
        genes.append(g)
    else:
        seq.append(line)

In [6]:
gene_seq_data = list(zip(genes,seq))

In [7]:
print gene_seq_data[:5]

[('PA0001', 'GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATGAGCTGCCGTCCCAACAATTCAACACCTGGATCCGTCCCTTGCAGGTCGAAGCCGAAGGCGACGAATTGCGTGTGTATGCACCCAACCGTTTCGTCCTCGATTGGGTGAACGAGAAATACCTCGGTCGGCTTCTGGAACTGCTCGGTGAACGCGGCGAGGGTCAGTTGCCCGCGCTTTCCTTATTAATAGGCAGCAAGCGTAGCCGTACGCCGCGCGCCGCCATCGTCCCATCGCAGACCCACGTGGCTCCCCCGCCTCCGGTTGCTCCGCCGCCGGCGCCAGTGCAGCCGGTATCGGCCGCGCCCGTGGTAGTGCCACGTGAAGAGCTGCCGCCAGTGACGACGGCTCCCAGCGTGTCGAGCGATCCCTACGAGCCGGAAGAACCCAGCATCGATCCGCTGGCCGCCGCCATGCCGGCTGGAGCAGCGCCTGCGGTGCGCACCGAGCGCAACGTCCAGGTCGAAGGTGCGCTGAAGCACACCAGCTATCTCAACCGTACCTTCACCTTCGAGAACTTCGTCGAGGGCAAGTCCAACCAGTTGGCCCGCGCCGCCGCCTGGCAGGTGGCGGACAACCTCAAGCACGGCTACAACCCGCTGTTCCTCTACGGTGGCGTCGGTCTGGGCAAGACCCACCTGATGCATGCGGTGGGCAACCACCTGCTGAAGAAGAACCCGAACGCCAAGGTGGTCTACCTGCATTCGGAACGTTTCGTCGCGGACATGGTGAAGGCCTTGCAGCTCAACGCCATCAACGAATTCAAGCGCTTCTACCGCTCGGTGGACGCACTGTTGATCGACGACATCCAGTTCTTCGCCCGTAAGGAGCGCTCCCAGGAGGAGTTCTTCCACACCTTCAATGCCCTTCTCGAAGGCGGCCAGCAGGTGATCCTCACCAGCGACCGCTATCCGAAGGAAATCGAAGGCCTGGAAGAGCGGCTGAAATCCCGCTTCGGCTGGGGCCTGACGGTGGCCGTCGAGCCGCCGGAACTGGAAACCCGGGTGGCGATCCTGATGAAGAAGGCCGAGCAGGCGAAGATCGAGCTGCCGCACGATGCGGCCTTCTTCATCGCCCAGCGCATCCGTTCCAACGTGCGTGAACTGGAAGGTGCGCTGAAGCGGGTGATCGCCCACTCGCACTTCATGGGCCGGCCGATCACCATCGAGCTGATTCGCGAGTCGCTGAAGGACCTGTTGGCCCTTCAGGACAAGCTGGTCAGCATCGACAACATCCAGCGCACCGTCGCCGAGTACTACAAGATCAAGATATCCGATCTGTTGTCCAAGCGGCGTTCGCGCTCGGTGGCGCGCCCGCGCCAGGTGGCCATGGCGCTCTCCAAGGAGCTGACCAACCACAGCCTGCCGGAGATCGGCGTGGCCTTCGGCGGTCGGGATCACACCACGGTGTTGCACGCCTGTCGTAAGATCGCTCAACTTAGGGAATCCGACGCGGATATCCGCGAGGACTACAAGAACCTGCTGCGTACCCTGACAACCTGA\n'), ('PA0002', 'ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAACTGGTCGCCGGCGTCGTGGAACGCCGCCAGACATTGCCGGTTCTCTCCAACGTCCTGCTGGTGGTCGAAGGCCAGCAACTGTCGCTGACCGGCACCGACCTCGAAGTCGAGCTGGTTGGTCGCGTGGTACTGGAAGATGCCGCCGAACCCGGCGAGATCACCGTACCGGCGCGCAAGCTGATGGACATCTGCAAGAGCCTGCCGAACGACGTGCTGATCGACATCCGTGTCGAAGAGCAGAAACTTCTGGTGAAGGCCGGGCGTAGCCGCTTCACCCTGTCCACCCTGCCGGCCAACGATTTCCCCACCGTAGAGGAAGGTCCCGGCTCGCTGAACTTCAGCATTGCCCAGAGCAAGCTGCGTCGCCTGATCGACCGCACCAGCTTCGCCATGGCCCAGCAGGACGTGCGTTACTACCTCAACGGCATGCTGCTGGAAGTGAACGGCGGCACCCTGCGCTCCGTCGCCACCGACGGCCACCGACTGGCCATGTGCTCGCTGGATGCGCAGATCCCGTCGCAGGACCGCCACCAGGTGATCGTGCCGCGCAAAGGCATCCTCGAACTGGCTCGTCTGCTCACCGAGCAGGACGGCGAAGTCGGCATCGTCCTGGGCCAGCACCATATCCGTGCCACCACTGGCGAATTCACCTTCACTTCGAAGCTGGTGGACGGCAAGTTCCCGGACTACGAGCGTGTACTGCCGCGCGGTGGCGACAAGCTGGTGGTCGGTGACCGCCAGCAACTGCGCGAAGCCTTCAGCCGTACCGCGATCCTCTCCAACGAGAAGTACCGCGGCATTCGCCTGCAGCTTTCCAACGGTTTGCTGAAAATCCAGGCGAACAACCCGGAGCAGGAAGAGGCCGAGGAAGAAGTGCAGGTCGAGTACAACGGCGGCAACCTGGAGATAGGCTTCAACGTCAGTTACCTGCTCGACGTGCTGGGTGTGATCGGTACCGAGCAGGTCCGCTTCATCCTTTCCGATTCCAACAGCAGCGCCCTGGTCCACGAGGCCGACAATGACGATTCTGCCTATGTCGTCATGCCGATGCGCCTCTAA\n'), ('PA0003', 'ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACCCGGTGACCCTCTCCCCCTCCCCCCGCATCAACATCCTCTACGGCGACAACGGCAGCGGCAAGACCAGCGTGCTCGAAGCCATCCACCTGCTGGGCCTGGCGCGTTCATTCCGCAGTGCGCGCTTGCAGCCGGTGATCCAGTATGAGGAAGCGGCCTGCACCGTATTCGGCCAGGTGATGTTGGCCAACGGCATCGCCAGCAACCTGGGGATTTCCCGTGAGCGCCAGGGCGAGTTCACCATCCGCATCGATGGGCAGAACGCCCGGAGTGCGGCTCAATTGGCGGAAACTCTCCCACTGCAACTGATCAACCCGGACAGCTTTCGGTTGCTCGAGGGAGCGCCGAAGATCCGGCGACAGTTCCTCGATTGGGGAGTGTTCCACGTGGAACCTCGGTTTCTGCCCGTCTGGCAGCGCCTGCAGAAGGCGCTGCGCCAGCGGAACTCCTGGCTCCGGCATGGTAAACTGGACCCCGCGTCGCAAGCGGCCTGGGACCGGGAATTGAGCCTGGCCAGCGATGAGATCGATGCCTACCGCAGAAGCTATATCCAGGCGTTGAAACCGGTATTCGAGGAAACACTCGCCGAATTGGTTTCACTGGATGACCTGACCCTTAGCTACTACCGAGGCTGGGACAAGGACCGGGACCTCCTGGAGGTTCTGGCTTCCAGCCTGTTGCGCGACCAGCAGATGGGCCACACCCAGGCGGGACCGCAGCGTGCGGATCTTCGCATACGGTTGGCAGGTCATAACGCCGCGGAGATTCTCTCGCGCGGTCAGCAGAAGCTGGTGGTATGCGCCCTGCGCATCGCCCAAGGCCATCTGATCAATCGCGCCAAGCGCGGACAGTGCGTCTACCTGGTGGACGACCTGCCCTCGGAACTGGATGAGCAGCATCGAATGGCTCTTTGCCGCTTGCTTGAAGATTTGGGTTGCCAGGTATTCATCACCTGCGTGGACCCGCAACTATTGAAAGACGGCTGGCGCACGGATACGCCGGTATCCATGTTCCACGTGGAACATGGAAAAGTCTCTCAGACCACGACCATCGGGAGTGAAGCATGA\n'), ('PA0004', 'ATGAGCGAGAACAACACGTACGACTCTTCCAGCATCAAGGTGCTGAAGGGGCTGGATGCCGTACGCAAGCGCCCCGGCATGTACATCGGCGACACCGACGATGGCACCGGTCTGCACCACATGGTGTTCGAGGTGGTGGATAACTCCATCGACGAAGCGCTGGCCGGTTACTGCAGCGAAATCAGCATCACCATCCATACGGATGAGTCGATCACTGTCCGCGACAATGGACGCGGTATTCCGGTGGATATCCACAAGGAAGAAGGGGTTTCTGCGGCGGAAGTGATCATGACCGTCCTCCACGCCGGCGGCAAGTTCGACGACAACACCTACAAGGTGTCCGGCGGCTTGCACGGTGTGGGCGTCTCGGTGGTGAACGCGCTGTCCCATGAACTACGCCTGACCATCCGTCGCCACAACAAGGTCTGGGAACAGGTCTACCACCACGGCGTTCCGCAGTTCCCACTGCGCGAAGTGGGCGAGACCGATGGCTCCGGCACCGAAGTTCACTTCAAGCCGTCCCCGGAGACCTTCAGCAACATCCACTTCAGTTGGGACATCCTGGCCAAGCGCATCCGCGAGCTGTCCTTCCTCAACTCCGGCGTCGGCATCCTGCTGCGCGACGAGCGTACCGGCAAGGAGGAGCTGTTCAAGTACGAAGGCGGTCTGAAGGCCTTCGTCGAGTACCTGAACACCAACAAGACCGCGGTGAACGAGGTATTCCACTTCAACGTCCAGCGTGAAGAGGACGGCGTGGGTGTGGAAGTCGCCTTGCAGTGGAACGACAGCTTCAACGAGAACCTGCTCTGCTTCACCAACAACATCCCGCAGCGTGACGGCGGCACCCACCTGGCCGGTTTCCGTTCGGCGCTGACGCGTAACCTGAACAACTACATCGAGGCCGAAGGCCTGGCGAAGAAGTTCAAGATCGCCACCACCGGCGACGATGCCCGCGAAGGCCTCACCGCGATCATCTCGGTGAAGGTACCGGACCCGAAGTTCAGCTCGCAGACCAAGGACAAGCTGGTCTCCTCCGAGGTGAAGACTGCGGTGGAACAGGAGATGGGCAAGTACTTCGCCGACTTCCTGCTGGAGAATCCCAACGAAGCCAAGGCCGTGGTCGGCAAGATGATCGACGCCGCCCGTGCCCGCGAGGCCGCGCGCAAGGCGCGCGAGATGACCCGCCGCAAGGGCGCGCTGGACATCGCCGGCCTGCCCGGCAAACTGGCCGATTGCCAGGAAAAGGACCCGGCGCTCTCCGAACTGTACATCGTGGAGGGTGACTCCGCGGGCGGTTCCGCCAAGCAGGGCCGCAATCGCCGGACCCAGGCGATCCTGCCGCTCAAGGGCAAGATCCTCAACGTCGAAAAGGCGCGCTTCGACAAGATGCTCTCCTCCCAGGAGGTCGGTACGCTGATCACCGCCCTGGGCTGTGGCATCGGCCGCGAGGAATACAACATCGACAAGCTGCGCTACCACAACATCATCATCATGACCGATGCTGACGTCGACGGTTCGCACATCCGCACCCTGCTGTTGACCTTCTTCTTCCGCCAGATGCCCGAGCTGATCGAGCGTGGCTACATCTACATCGCCCAGCCCCCGTTGTACAAGGTCAAGCGCGGCAAGCAGGAGCAGTACATCAAGGACGACCAGGCCATGGAAGAGTACATGACCCAGTCGGCCCTGGAAGACGCCAGCCTGCACGTCAACGAGCACGCTCCGGGCCTGTCCGGGGCGGCGCTGGAGAAACTGGTCAACGAGTATCGCGGGGTGATCGCCACCCTCAAGCGCCTGTCGCGCCTGTACCCCCAGGAGCTGACCGAGCACTTCATCTACCTGCCTACCGTGTCGGTGGACGACCTGGCTAACGAGTCGGCCATGCAGGGCTGGTTGGAGAAGTTCCAGGCGCGCCTGACCGCCGCCGAGAAGTCCGGCCTGACCTACAAGGCCAGCCTGCGCGAAGACCGCGAGCGCCACCTGTGGCTGCCCGAGGTGGAACTGGTGGCCCACGGCCTGTCCAGCTACGTCACCTTCAACCGTGACTTCTTCGCCAGCAATGACTACCGCTCGGTGTCGCTGCTCGGCGACCAGCTGAACAGCCTGCTGGAAGACGGCGCCTACGTGCAGAAGGGTGAGCGCAAGCGCCCGATCAGCGCCTTCAAGGACGGCCTGGACTGGCTGATGGCCGAAGGTACCAAGCGCCACAGCATCCAGCGATACAAGGGGCTGGGCGAGATGAACCCTGAGCAGCTGTGGGAAACCACCATGGATCCGAACGTCCGGCGCATGCTCAAGGTGACCATCGAGGATGCCATCGCCGCCGACCAGATCTTCAACACCCTGATGGGCGATGCCGTGGAGCCGCGCCGCGACTTCATCGAAAGCAACGCGCTGGCGGTGTCGAACCTGGACGTGTGA\n'), ('PA0005', 'ATGTCGACAGTGCAGGCCATCAGAACCGTCCTCTTTTACCTGCTGCTGTCCGCCAGCGCGTTCGTCTGGGGCACCCTCAGCTTCTTCATCGCGCCGATCCTGCCGTTCCGCGCCCGCTACCGCTTCGTGGTACAGAACTGGTGCCGCTTCGCGATCTGGCTGACCCGCGTGGTCGCCGGCATCCGCTACGAGGTGCGCGGACTGGAGAACATCCCGGAAAAGCCCTGCGTGATCCTCTCCAAGCACCAGAGCACCTGGGAAACCTTCTTCCTCTCCGGCTTCTTCGAGCCACTCAGCCAGGTACTCAAGCGCGAGCTGCTCTACGTGCCGTTCTTCGGCTGGGCCCTGGCCCTGCTCAAGCCCATCGCCATCGACCGCAGCCAGCCCAAGCTGGCCCTCAAGCAACTGGCCAAGCAGGGCGACGAGTGCCTGAAGAAAGGCGCCTGGGTGCTGATCTTCCCGGAAGGCACGCGTATTCCGGTGGGGCAGATGGGCAAGTTCTCCCGCGGCGGCACCGCCCTGGCGGTCAACGCCGGGCTACCGGTACTGCCGATCGCCCACAACGCCGGGCAGTATTGGCCCAAGGCCGGCTGGGCCAAGTACCCGGGCACCATCCAGGTGGTGATCGGCCCGGCCATGCACGCCGAAGGCGAAGGCCCGCGCGCCATCGCCGAGCTAAACCAGCGCGCCGAAGCCTGGGTCAGCGAGACCATGGCCGAGATCAGCCCCATCCAGCAGCGGGTCAGCCATCCGGAGCCGTCGGTGGTCTCGTGA\n')]

In [8]:
df = pd.DataFrame(gene_seq_data, columns = ['GeneID', 'Sequence'])
df.head()

   GeneID                                           Sequence
0  PA0001  GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
1  PA0002  ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
2  PA0003  ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...
3  PA0004  ATGAGCGAGAACAACACGTACGACTCTTCCAGCATCAAGGTGCTGA...
4  PA0005  ATGTCGACAGTGCAGGCCATCAGAACCGTCCTCTTTTACCTGCTGC...

In [9]:
df.shape

(5698, 2)

In [11]:
pos = [1]*5698
df['interaction'] = pos
df.head()

   GeneID                                           Sequence  interaction
0  PA0001  GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...            1
1  PA0002  ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...            1
2  PA0003  ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...            1
3  PA0004  ATGAGCGAGAACAACACGTACGACTCTTCCAGCATCAAGGTGCTGA...            1
4  PA0005  ATGTCGACAGTGCAGGCCATCAGAACCGTCCTCTTTTACCTGCTGC...            1

In [15]:
df = df.drop('interaction', axis=1)

In [16]:
df.head()

   GeneID                                           Sequence
0  PA0001  GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
1  PA0002  ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
2  PA0003  ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...
3  PA0004  ATGAGCGAGAACAACACGTACGACTCTTCCAGCATCAAGGTGCTGA...
4  PA0005  ATGTCGACAGTGCAGGCCATCAGAACCGTCCTCTTTTACCTGCTGC...

In [17]:
fseq.close()

In [41]:
int_file = 'PseudomonasNet.v1.benchmark.txt'
intpath = os.path.join(seq_dir, int_file)
fint = open(intpath, 'r')

In [42]:
df_int = pd.read_table(fint, names = ['geneID1', 'geneID2'])

In [43]:
df_int.head()

  geneID1 geneID2
0  PA0001  PA0002
1  PA0001  PA0003
2  PA0001  PA0004
3  PA0001  PA0010
4  PA0001  PA0357

In [44]:
fint.close()

In [45]:
df.to_csv('gene_seq.csv')

In [46]:
df_int.to_csv('gene_int.csv')

In [49]:
df_int.shape

(16062, 2)

In [50]:
int_label = [1]*16062
df_int['interaction'] = int_label
df_int.head()

  geneID1 geneID2  interaction
0  PA0001  PA0002            1
1  PA0001  PA0003            1
2  PA0001  PA0004            1
3  PA0001  PA0010            1
4  PA0001  PA0357            1

In [51]:
df_int.to_csv('gene_int.csv')